.App {
  background-color: rgb(101, 55, 150);
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  font-size: 15px;
}
.logo-img {
  height: 70px;
}

.film-container {
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;

  margin: 4px;
  background-color: #00263c;
  justify-content: flex-start;
  justify-content: center;
}

.movie-picture-poster {
  height: 350px;
  width: 290px;
  border: 3px solid green;
  border-radius: 6px;
}
.movie-picture-poster:hover {
  opacity: 0.3;
  transition: 200ms;
}
.movie-title {
  font-size: 20px;
  font-family: fantasy;
  color: white;
}
.movie-rating {
  color: yellow;
  font-size: 20px;
}
.movie-frame {
  margin: 7px;
}
.header-film-rating {
  font-size: 12px;
  color: white;
  margin: 10px;
  font-family: fantasy;
}
.searchingbar {
  border-radius: 20px;
}
.add-movie-btn {
  margin: 7px;
  margin-top: 35px;
  height: 340px;
  width: 290px;
}
.add-movie:hover {
  opacity: 0.3;
  transition: 200ms;
}
